img{
    width: 390px;
    height: auto;
}
img{
    width: 250px;
    height: auto;
}
table{
    border: 1px solid black;
}
th,td{
    border: 1px solid black;
    padding: 8px 12px;
}
img{
    width: 150px;
    height: auto;
}
.aviso {
      background-color: #fff3cd;    /* fundo amarelo claro */
      border: 2px solid #ffcc00;    /* borda amarela */
      color: #664d00;               /* texto marrom escuro */
      padding: 15px;
      border-radius: 6px;
      margin: 20px 0;
      font-family: Arial, sans-serif;
    }